.ssh/
.anydesk/
.aspnet/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dotnet/
.gitignore
.gitkraken/
.gk/
.gnupg/
.java/
.lesshst
.local/
.npm/
.nuget/
.pcloud/
.pki/
.profile
.sudo_as_admin_successful
.vim
.viminfo
.vscode/
Documents/
Downloads/
_Projects/
pCloudDrive/
snap/
