# Ignore everything
*

# Allowed files


!.Xmodmap
!.bashrc
!.bash_aliases
!.zshrc
!.zsh_aliases
!.git_local_config
!.gitconfig
!.gitignore
!.ideavimrc
!.my.cnf
!.ssh/config
!.ssh/config
!.vimrc
!README.md
!Install_zsh.md
!term.jpg
!git_cleanup_branches.sh
!other/mining/NBMiner_Linux/nbminer
!other/mining/NBMiner_Linux/nbminer.sha256
!other/mining/NBMiner_Linux/readme.md
!other/mining/NBMiner_Linux/readme_zh.md
!other/mining/NBMiner_Linux/start_ae.sh
!other/mining/NBMiner_Linux/start_beam.sh
!other/mining/NBMiner_Linux/start_config.sh
!other/mining/NBMiner_Linux/start_conflux.sh
!other/mining/NBMiner_Linux/start_ergo.sh
!other/mining/NBMiner_Linux/start_etc.sh
!other/mining/NBMiner_Linux/start_eth.sh
!other/mining/NBMiner_Linux/start_rvn.sh
!other/ssh/config
!other/start/start_hdd1.sh
!other/start/start_hdd2.sh
!other/start/start_hdd2_3.sh
!other/start/start_hdd3.sh
!other/start/start_hdd3_3.sh
!other/start/start_hdd4.sh
!other/start/start_hdd4_3.sh
!other/start/start_hdd5.sh
!other/start/start_hdd5_3.sh
!other/start/start_hdd6.sh
!other/start/start_hdd6_3.sh
!other/start/start_hdd7.sh
!other/start/start_hdd7_3.sh
!other/start/start_hdd8.sh
!other/start/start_hdd8_3.sh
!other/start/start_ssd1.sh
!other/start/start_ssd1_10.sh
!other/start/start_ssd1_3.sh
!other/start/start_ssd2.sh
!other/start/start_ssd2_10.sh
!other/start/start_ssd2_3.sh
!other/start/start_ssd3.sh
!other/start/start_ssd3_10.sh
!other/start/start_ssd3_3.sh
!other/start/startup.sh
