.aws
.azure
.docker/
.grc/
.motd_shown
.mysql_history
.vscode-server/
.ssh/
.anydesk/
.aspnet/
.bash_history
.bash_logout
.cache/
.config/
.dotnet/
.gitignore
.gitkraken/
.gk/
.gnupg/
.java/
.lesshst
.local/
.npm/
.nuget/
.pcloud/
.pki/
.profile
.sudo_as_admin_successful
.vim
.viminfo
.vscode/
Documents/
Downloads/
_Projects/
pCloudDrive/
snap/
.android/
.cert/
.chia/
.chia_keys/
.codeium/
.dotnet_bak/
.gradle/
.mono/
.nv/
.plastic4/
.profile.bak
.psql_history
.selected_editor
.sqlite_history
.subversion/
.templateengine/
.thunderbird/
.vim_local/
.wget-hsts
_Projects
Android/
Nextcloud/
Pictures/
Unity/
Videos/
dotnet/
enough_disk_space.sh
hdd1.sh
hdd2.sh
hdd3.sh
less_1g_disks.sh
mining/
ownCloud
ownCloud/
ssd1.sh
ssd2.sh
ssd3.sh
ssdd1.sh
ssdd2.sh
ssdd3.sh
ssdd4.sh
ssde1.sh
ssde2.sh
ssde3.sh
test.sh
test_ssd_health.sh
b12-aws-utilities-plamen.ppk
dev-maria-db.sql

